<div class="verification-container">
  <ng-container>
      <div [ngClass]="state=='success'?'success':'error'" >
        <div *ngIf="state=='success'">
          <div class="icon text-center"><img src="../icons/success-filled.png" alt=""></div>
        </div>
        <div *ngIf="state=='error'">
           <div class="icon text-center"><img src="../icons/error-face.png" alt=""></div>
        </div>
        <h2 class="text-center mt-3">{{title}}</h2>
        <p class="text-center">{{message}}</p>
         <div *ngIf="state=='success'"  class="text-center">
            <a [routerLink]="'/dashboard'" class="btn">Go to Dashboard</a>
         </div>
        <div *ngIf="state=='error'" class="text-center">
          <button class="btn" (click)="resendVerificationEmail()">Resend Verification Email</button>
          <p class="mt-2"><small>Need help? <a href="/contact">Contact support</a>.</small></p>
        </div>
      </div>
  </ng-container>

</div>
