<div class="card resetpassword" >

        <form (ngSubmit)="submitResetPasswordFrom()" #passwordResetForm="ngForm">
            <h4>Enter your new password</h4>
            <div class="w-100 mt-3">
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" class="input-field" placeholder="Password" name="password" 
                    [ngClass]="{ 'is-invalid': submitted && passwordError }" ngModel required>
                </div>
                <p class="error-message" *ngIf="submitted && passwordError">
                    <small>{{ passwordError }}</small>
                  </p>
            </div>
            
            <div class="w-100">
                <div class="input-group">
                    <i class="fas fa-lock"></i>
                    <input type="password" class="input-field" placeholder="Confirm Password" name="confirmPasswrod" 
                    [ngClass]="{ 'is-invalid': submitted && confirmPasswordError }" ngModel required>
                </div>
                <p class="error-message" *ngIf="submitted && confirmPasswordError">
                    <small>{{ confirmPasswordError }}</small>
                  </p>
            </div>
          
            <div class="d-flex justify-content-between">
                <p class="mt-2 text-center"><small>Need help? <a href="/contact">Contact support</a>.</small></p>
                <button type="submit" class="btn reset-button">Reset Password</button>
            </div>
            
        </form>
        
    
</div>
