    <div class="project-container">
        <!-- Project Header -->
        <div class="project-header">
            <h1 class="project-title">E-Commerce Platform Development</h1>
            <div class="project-meta">
                <div class="project-status">Waterfall Methodology</div>
            </div>
        </div>
        
        <!-- agile Progress -->
        <div class="waterfall-progress">
            <div class="progress-steps">
                <div class="progress-line"></div>
                <div class="progress-fill"></div>
                
                <div class="step completed">
                     <div class="step-icon"><i class="fas fa-clipboard-list"></i></div>
                    <div class="step-label">Requirements</div>
                </div>
                
                <div class="step active">
                    <div class="step-icon active-icon"><i class="fas fa-pencil-ruler"></i></div>
                    <div class="step-label active-text">Design</div>
                </div>
                
                <div class="step">
                     <div class="step-icon"><i class="fas fa-code"></i></div>
                    <div class="step-label">Implementation</div>
                </div>
                <div class="step">
                    <div class="step-icon"><i class="fa-solid fa-microscope"></i></div>
                    <div class="step-label">Testing</div>
                </div>
                <div class="step">
                    <div class="step-icon"><i class="fas fa-rocket"></i></div>
                    <div class="step-label">Deployment</div>
                </div>

                <div class="step">
                    <div class="step-icon"><i class="fas fa-shield-alt"></i></div>
                    <div class="step-label">Maintenance</div>
                </div>
            </div>
        </div>

         <!-- Project Tabs -->
        <div class="project-tabs d-flex gap-3 mt-3 mb-5 flex-wrap">
            <button class="btn btn-success"><i class="fa-solid fa-file-pdf"></i> Reports & Documents</button>
            <button class="btn btn-success"><i class="fa-solid fa-users"></i> Meetings</button>
              <button class="btn btn-success">
            <i class="fa-solid fa-triangle-exclamation"></i> Issue Tracking
            <span class="badge text-bg-light text-danger mx-2" style="border-radius: 50%; padding: 5px 7px;">4</span>
        </button>
        </div>
     
        <app-design></app-design>
       

        <!-- Phase Navigation -->
        <div class="action-buttons">
            <button class="btn btn-outline">
                <i class="fas fa-arrow-left"></i> Previous Phase
            </button>
            <button class="btn next-phase">
                Next Phase <i class="fas fa-arrow-right"></i>
            </button>
        </div>

      <!-- <app-implementation></app-implementation> -->