<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary px-4">
        <div class="container-fluid ">
          <a class="logo"  [routerLink]="'home'"><i class="fas fa-tasks"></i>ProTasker</a>
         
          <div class="nav-buttons order-lg-2 ms-auto d-flex align-items-center gap-2">
            <button class="theme-toggle" id="themeToggle" onclick="toggleTheme(this)">
                <i class="fas fa-moon"></i> 
            </button>
            <a class="btn btn-outline" [routerLink]="'sign-in'">Login</a>
            <button class="btn btn-primary" [routerLink]="'sign-up'">Get Started</button>
          </div>
          <button class="navbar-toggler order-lg-2 ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse order-lg-1" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Solutions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Resources</a>
              </li>
            </ul>
          </div>
          
        </div>
      </nav>
 </header>